/* --Style Sheet - Les Flambis-- */

/* General Styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Sidebar */
.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #f9f9f9;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
/*Leaflet Map Styling */ 

#map {
    height: 80vh;
    width: 100%;
}


/* UI elements Styling */

.controls {
    margin: 10px;
}


label, select {
    font-size: 16px;
    margin: 5px;
}

select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}