/* --Style Sheet - Les Flambis-- */

/* General Styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-height: 100%;
}

.header {
    min-height: 20%;
    max-height: 20%;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}


/*Leaflet Map Styling */ 

#map {
    min-height: 79vh;
    max-height: 79vh;
    width: 100%;
    margin: 0;
}


/* UI elements Styling */

.controls {
    margin: 10px;
}


label, select {
    font-size: 16px;
    margin: 5px;
}

select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}